<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_3d">

  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:arg name="robot_name" default="robot_3d"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_gazebo" default="false"/>

  <xacro:include filename="$(find mec_mobile_description)/urdf/mech/robot_3d_base.urdf.xacro"/>
  <xacro:include filename="$(find mec_mobile_description)/urdf/mech/mecanum_wheel.urdf.xacro"/>
  <xacro:include filename="$(find mec_mobile_description)/urdf/sensors/rgbd_camera.urdf.xacro"/>
  <xacro:include filename="$(find mec_mobile_description)/urdf/sensors/lidar.urdf.xacro"/>
  <xacro:include filename="$(find mec_mobile_description)/urdf/sensors/imu.urdf.xacro"/>

  <xacro:robot_3d_base prefix="$(arg prefix)"/>

  <xacro:mecanum_wheel
    prefix="$(arg prefix)"
    side="front_left"
    x_reflect="1"
    y_reflect="1"/>

  <xacro:mecanum_wheel
    prefix="$(arg prefix)"
    side="front_right"
    x_reflect="1"
    y_reflect="-1"/>

  <xacro:mecanum_wheel
    prefix="$(arg prefix)"
    side="back_left"
    x_reflect="-1"
    y_reflect="1"/>

  <xacro:mecanum_wheel
    prefix="$(arg prefix)"
    side="back_right"
    x_reflect="-1"
    y_reflect="-1"/>


  <xacro:rgbd_camera
    prefix="$(arg prefix)"
    camera_name="cam_1"
    xyz_offset="0.105 0 0.03"
    rpy_offset="0 0 0"/>

  <xacro:lidar_sensor
    prefix="$(arg prefix)"
    parent="base_link"
    frame_id="laser_frame"
    xyz_offset="0 0 0.0825"
    rpy_offset="0 0 3.14"
    mesh_xyz_offset="0 0 0"
    mesh_rpy_offset="${-M_PI/2} 0 0"
    topic_name="scan"/>

  <xacro:imu_sensor
    prefix="$(arg prefix)"
    parent="base_link"
    frame_id="imu"
    xyz_offset="0 0 0.006"
    rpy_offset="0 0 0"
    update_rate="15.0"
    topic_name="imu/data"/>
  <!-- 마찰/접촉(원하면 조정) -->

  <gazebo>
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <kp>1e6</kp>
    <kd>1e3</kd>

    <plugin name="gazebo_ros_planar_move" filename="libgazebo_ros_planar_move.so">
      <ros>
        <remapping>cmd_vel:=/cmd_vel</remapping>
        <remapping>odom:=/odom</remapping>
      </ros>
      <robot_base_frame>base_footprint</robot_base_frame>
      <publish_odom>true</publish_odom>
      <odom_frame_id>odom</odom_frame_id>
      <publish_odom_tf>true</publish_odom_tf>
    </plugin>
  </gazebo>
     
  <!-- <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <ros>
        <remapping>odom:=odom/unfiltered</remapping>
      </ros>
      <command_topic>cmd_vel</command_topic>
      <odometry_topic>odom/unfiltered</odometry_topic>
      <odometry_frame>odom</odometry_frame>
      <odometry_rate>20.0</odometry_rate>
      <robot_base_frame>base_footprint</robot_base_frame>
      <publish_odom>true</publish_odom>
      <publish_odom_tf>false</publish_odom_tf>
    </plugin>
  </gazebo> -->

</robot>